[Unit]
Description=Security Extra - periodic AIDE scan

[Timer]
OnCalendar={{ sec_aide_periodic_on_calendar }}
RandomizedDelaySec={{ sec_timers_randomized_delay_sec }}
Persistent={{ 'true' if sec_timers_persistent else 'false' }}

[Install]
WantedBy=timers.target
