[Unit]
Description=Security Extra - periodic ClamAV scan

[Timer]
OnCalendar={{ sec_clamav_periodic_on_calendar }}
RandomizedDelaySec={{ sec_timers_randomized_delay_sec }}
Persistent={{ 'true' if sec_timers_persistent else 'false' }}

[Install]
WantedBy=timers.target
